<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health First</title>
</head>
<body style="background-color: cornflowerblue">

<div>
    <a th:href="@{/}">
        <button style="background-color: lightgreen; width: 100px; border-color: #208000; font-weight: bold">
            HOME
        </button>
    </a>
</div>

<p style="font-weight: bold">Appointment details</p>

<div class="width">
    <div class="intro-content" style="float: left; background-color: cornflowerblue">

        <table style="color: #00264f; font-weight: bold; background-color: #2469b3">
            <tr>
                <td>Details</td>
            </tr>
        </table>

        <table style="font-weight: bold; color: #f0f0f0">

            <form th:action="@{'/appointment/' + ${appointmentToView.id}}" th:method="put">

                <tr>
                    <td style="color: #00264d">Appointment date:</td>
                    <td style="color: #f0f0f0; font-weight: bold" th:text="${appointmentToView.appointmentDate}">Appointment date</td>
                    <td style="width: 150px"></td>
                    <td style="width: 150px"></td>
                </tr>
                <tr>
                    <td style="color: #00264d">Appointment time:</td>
                    <td style="color: #f0f0f0; font-weight: bold" th:text="${appointmentToView.appointmentTime}">Appointment time</td>
                    <td style="width: 150px"></td>
                    <td style="width: 150px">
                        <input name="newAppointmentTime" type="text" class="form-control" placeholder="Change appointment time">
                    </td>
                </tr>
                <tr>
                    <td style="color: #00264d">Location:</td>
                    <td style="color: #f0f0f0; font-weight: bold" th:text="${appointmentToView.location}">Location</td>
                    <td style="width: 150px"></td>
                    <td style="width: 150px"></td>
                </tr>
                <tr>
                    <td style="color: #00264d">Doctor:</td>
                    <td style="color: #f0f0f0; font-weight: bold" th:text="${appointmentToView.doctor.firstName + ' ' + appointmentToView.doctor.lastName}">Doctor</td>
                    <td style="width: 150px"></td>
                    <td style="width: 150px"></td>
                </tr>
                <tr>
                    <td style="color: #00264d">Patient:</td>
                    <td style="color: #f0f0f0; font-weight: bold" th:text="${appointmentToView.patient.firstName + ' ' + appointmentToView.patient.lastName}">Patient</td>
                    <td style="width: 150px"></td>
                    <td style="width: 150px"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 150px"></td>
                    <td>
                        <button style="background-color: indianred; width: 70px; border-color: #208000; font-weight: bold">
                            UPDATE
                        </button>
                    </td>
                </tr>

            </form>

        </table>

    </div>
</div>

</body>
</html>