<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health First</title>
</head>
<body>

<p>Creating a new doctor</p>

<div id="container">
    <div id="intro">
        <div class="width">
            <div class="intro-content" style="float: left; background-color: rgba(105, 155, 186, 0.9)">

                <table style="color: #00264f; font-weight: bold; background-color: rgba(0, 96, 128, 0.7)">
                    <tr>
                        <td>Insert required data below</td>
                    </tr>
                </table>

                <table style="font-weight: bold; color: #f0f0f0">

                    <form th:action="@{/doctor}" th:method="post" th:object="${doctor}">

                        <tr>
                            <td style="width: 200px">First name:</td>
                            <td style="width: 150px"><input th:field="*{firstName}" type="text" class="form-control" placeholder="First name" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">Last name:</td>
                            <td style="width: 150px"><input th:field="*{lastName}" type="text" class="form-control" placeholder="Last name" required></td>
                        </tr>
                        <tr>
                            <td style="width: 200px">Medical specialization:</td>
                            <td style="width: 150px">
                                <select th:field="*{medicalSpecialization}" class="form-control">
                                    <option th:each="medicalSpecialization : ${T(pl.derezinski.clinic.model.MedicalSpecialization).values()}"
                                            th:value="${medicalSpecialization}"
                                            th:text="${medicalSpecialization}">
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td> </td>
                            <td style="width: 200px; padding: 0px"><button type="submit" class="button-log-reg">Create a new doctor</button></td>
                        </tr>

                    </form>

                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>