<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health First</title>
</head>
<body style="background-color: cornflowerblue">

<div>
    <a th:href="@{/}">
        <button style="background-color: lightgreen; width: 100px; border-color: #208000; font-weight: bold">
            HOME
        </button>
    </a>
</div>

<p style="font-weight: bold">Creating a new patient</p>

<div class="width">
    <div class="intro-content" style="background-color: cornflowerblue">

        <table style="color: #00264f; font-weight: bold; background-color: #2469b3">
            <tr>
                <td>Insert required data below</td>
            </tr>
        </table>

        <table style="font-weight: bold; color: #f0f0f0">

            <form th:action="@{/patient}" th:method="post" th:object="${patient}">

                <tr>
                    <td style="width: 200px">First name:</td>
                    <td style="width: 150px"><input th:field="*{firstName}" type="text" class="form-control" placeholder="First name" required></td>
                </tr>
                <tr>
                    <td style="width: 200px">Last name:</td>
                    <td style="width: 150px"><input th:field="*{lastName}" type="text" class="form-control" placeholder="Last name" required></td>
                </tr>
                <tr>
                    <td style="width: 200px">Street:</td>
                    <td style="width: 150px"><input th:field="*{street}" type="text" class="form-control" placeholder="Street" required></td>
                </tr>
                <tr>
                    <td style="width: 200px">ZIP code:</td>
                    <td style="width: 150px"><input th:field="*{zipCode}" type="text" class="form-control" placeholder="ZIP code" required></td>
                </tr>
                <tr>
                    <td style="width: 200px">City:</td>
                    <td style="width: 150px"><input th:field="*{city}" type="text" class="form-control" placeholder="City" required></td>
                </tr>

                <tr>
                    <td> </td>
                    <td>
                        <button type="submit" class="button-log-reg" style="background-color: yellow; width: 200px; border-color: #208000; font-weight: bold">
                            Create a new patient
                        </button>
                    </td>
                </tr>

            </form>

        </table>

    </div>
</div>

</body>
</html>